/* Stylesheet for startpages */

body {
    background-color: #abafcf;
}

a {
	font-family: Arial, Sans;
}

a:hover {
	background-color: yellow;
	font-weight: bold;
}

h1 {
	font-family: Arial, Sans;
    background-color: lightgrey;
    padding: 1em;
}

h3 {
	font-family: Arial, Sans;
	color: lightgrey;
    background-color: black;
    padding: 1em;
}

.dblue {
    background-color: gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
}

.dblue:hover {
    height: 250px;
    background-color: skyblue;
    transition: background-color 2s, height 2s;
}

.dlightgreen {
    background-color: gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dlightgreen:hover {
	background-color: lightgreen;
	height: 250px;
	transition: background-color 2s, height 2s;
}

.dpink {
    background-color:gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dpink:hover {
	background-color: pink;
	height: 250px;
	transition: background-color 2s,  height 2s;
}

.dlightgray {
    background-color:gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dlightgray:hover {
	background-color: orange;
	height: 250px;
	transition: background-color 2s, height 2s; 
}

.dlavender {
    background-color:gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dlavender:hover {
	background-color:  lavender;
	height: 250px;
	transition: background-color 2s, height 2s;
}

.dtan{
    background-color:gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dtan:hover {
	background-color:  tan;
	height: 250px;
	transition: background-color 2s, height 2s;
}
.dforestgreen{
    background-color: gray;
    width: 130px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
	transition: 2s;
    vertical-align: top;
}

.dforestgreen:hover {
	background-color:  forestgreen;
	height: 250px;
	transition: background-color 2s, height 2s;
}
/*
.circle {
    width: 250px;
    height: 250px;
    background-color: magenta;
    transition: 1.5s;
}
*/

/* transition: prop_name duration timing_function delay */

/*
.circle:hover {
    background-color: cyan;
    border-radius: 50%;
    transition: background-color 2s 1s;
}
*/
