/* Stylesheet for startpages */

body {
    background-color: #777;
}

h1 {
    background-color: lightgrey;
    padding: 1em;
}

#search {
    background-color: skyblue;
    width: 150px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
}


#social {
    background-color: lightgreen;
    width: 150px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    vertical-align: top;
}

#progtechsec{
    background-color: pink;
    width: 150px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    vertical-align: top;
}

#drives{
    background-color: lightgray;
    width: 150px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    vertical-align: top;
}

#imports{
    background-color: #e8d8f7; 
    width: 150px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    vertical-align: top;
}
